.card{
    width:18%;
    height:30vh;
    overflow:hidden;
    border: 1px solid black;
    border-radius: 10px;
    display: inline-block;
    margin: 20px;
    padding: 10px;
}
#show{
    padding:20px;
    background-color: rgb(24, 168, 24);
    color: white;
    border:none;
    border-radius: 5px;
    font-size: 20px;
    margin-left: 610px;
    margin-top: 50px;
}