#jobData{
color: red;
}
#statusParent{
 display: none;
}
.hide{
 display: none;
}
.show{
 display: block;
}
.card{
 width: 23%;
 height: 50vh;
 border: 3px solid gray;
 border-radius: 10px;
 box-shadow: 5px 5px 5px lightgray;
 margin-left: 10px;
}
#container{
  display: flex;
 justify-content: center;
}
.dark{
  background-color: black;
  color: white;
}
.light{
   background-color: white;
   color: black;
}